main {
    display: flex; 
    align-items: center;      /* Center vertically, adjust if needed */
    gap: 40px;
}

#main-menu {
    justify-content: center; 
    display: flex;
    gap: 40px;
}

#bio, #my-minat {
    flex: 1;
}
#bio {
    text-align: right;
}

#bio p{
    font-size: 50px;
}

#my-minat{
    text-align: left;
}
#my-minat p{
    font-family: monospace;
    font-size: 15px;
}

#contacts {
  justify-content: center; 
  display: flex;
  gap: 40px;
}
  
#contacts #find-me p{
  font-size: 50px;
  margin: 0 0 5px 0;
  text-align: right;
}

#contacs-list {
  text-align: left;
  vertical-align: auto;
}

.container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}
#contacts a {
  font-size: 20px;
  font-family: monospace;
  display: block;
  margin: 0;
  text-align: left;
}

a {
  font-size: 50px; /* Makes the text bigger */
    color: blue; /* Change this color to any you prefer */
    text-decoration: none; /* Removes underline from links */
    margin: 15px 0; /* Adds space between the links */
}
#contacts a:hover {
    color: rgb(195, 255, 0);
}