/* Global reset for margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none; /* Hide the default cursor */
}

body, html {
    height: 100%; /* Ensure full height of the viewport */
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    font-family: 'Jacquard 12', sans-serif;
    flex-direction: column;

 
}

#custom-cursor {
    position: fixed;
    pointer-events: none; /* Allows clicking through the element */
    transform: translate(-16px, -2px); /* Adjust to align the arrow’s tip with the actual pointer position */
    z-index: 9999;
}

/* Optional: Control the size of the arrow image */
#custom-cursor img {
    width: 24px; /* Comically bigger size */
    height: auto;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;  /* Center horizontally, adjust if needed */
    align-items: center;      /* Center vertically, adjust if needed */
}

div {
    text-align: center;
}

#main-menu a {
    font-size: 50px; /* Makes the text bigger */
    color: blue; /* Change this color to any you prefer */
    text-decoration: none; /* Removes underline from links */
    margin: 10px 0; /* Adds space between the links */
}

#main-menu a:hover {
    color: transparent; /* Make fill transparent */
    -webkit-text-stroke: 2px blue; /* Outline effect */
}

#main-menu a:focus {
    outline: none;
}

/* Footer styling */
footer {
    color: #dddddd;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
    font-size: 14px;
}